@import "../../assets/abstracts/mixins";
@import "../../assets/abstracts/variables";
@import "../../assets/styles/footer";
@import "../../assets/styles/pop-up";
@import "../../assets/styles/logo";
@import "../../assets/styles/header-nav";
@import "../../assets/styles/burger-menu";

:root {
  font-size: 10px;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  max-width: 120rem;
  justify-content: space-between;
  flex: 1;
}

/*-------------------Content---------------------*/

.header {
  width: 100vw;
  max-width: 100%;
  top: 6rem;
  position: absolute;

  &__burger {
    display: none;
  }

  @include logo($color-primary-color, $color-light-xl);
  @include header-nav($color-light-s, $color-dark-s);
}

.main {
  display: flex;
  flex-direction: column;

  /*-------------------Hero_Section---------------------*/

  .hero {
    display: flex;
    padding-top: 18rem;
    background: $start-screen-gradient-background;

    &__content {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .content-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 7rem 0.8rem;
        max-width: 46.8rem;

        &__title {
          color: $color-light-xl;
          @include h2(4.4rem);
          max-width: 31rem;
        }

        &__subtitle {
          margin-top: 4.2rem;
          @include paragraph-l();
          color: $color-dark-s;
        }

        &__button {
          width: 20.7rem;
          margin-top: 4.2rem;
          @include button_primary();
        }
      }
    }

    &__image-wrapper {
      display: flex;
    }

    &__image {
      width: 100%;
      max-width: 69rem;
      max-height: 72.8rem;
    }
  }

  /*-------------------About_Section---------------------*/

  .about {
    display: flex;

    &__wrapper {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding: 8rem 1.75rem 10rem;
      margin: 1rem 8.9rem 0 10.6rem;
    }

    & .wrapper {
      justify-content: center;
    }

    &__image-wrapper {
      display: flex;

      .about__image {
        width: 100%;
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 43rem;
    }

    &__title {
      @include h3(3.5rem);
      color: $color-dark-l;

      span {
        display: block;
        letter-spacing: 0.2rem;
      }
    }

    &__description {
      margin-top: 2.5rem;

      p {
        & + p {
          margin-top: 2.5rem;
        }

        @include paragraph-l();
        color: $color-dark-xl;
      }
    }
  }

  /*-------------------Pets_Section---------------------*/

  .pets {
    background-color: $color-light-l;
    padding: 8rem 0 10rem;

    .wrapper {
      max-width: 128rem;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    &__title {
      @include h3(3.5rem);
      color: $color-dark-l;
      max-width: 40rem;
      text-align: center;
      margin-left: 1.8rem;

      span {
        display: block;
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 58px 0;
      width: 100%;
    }

    &__slider {
      overflow: hidden;
      width: 1079px;
    }

    &__cards {
      display: flex;
      position: relative;
      right: 0;
      transition: 0.25s ease-in-out;
    }

    &__card {
      display: flex;
      flex-direction: column;
      border-radius: 0.9rem;
      margin: 0 4.5rem;
      background-color: $color-light-s;
      transition: ease-out 0.2s;

      &:hover {
        background-color: $color-light-xl;
        box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
      }

      &-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        align-items: center;
      }

      &-title {
        @include h4(2rem);
        text-align: center;
        margin: 3rem 0;
      }

      &-button {
        @include button_secondary();
      }
    }

    .slider__button,
    .slider__button_reverted {
      @include slider__button();
      top: calc(50% - 52px / 2);
    }

    .slider__button {
      left: 40px;
    }

    .slider__button_reverted {
      right: 40px;

      &::before {
        top: calc(50% + 0.3rem);
        transform: rotate(180deg);
      }
    }

    &__button {
      @include button_primary();
      margin-left: 1.8rem;
    }
  }

  /*-------------------Help_Section---------------------*/

  .help {
    margin: 8rem 0 10rem;

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__title {
      @include h3(3.5rem);
      text-align: center;
      color: $color-dark-l;
      margin-left: 1.8rem;

      span {
        display: block;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 10px;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin-top: 60px;
        padding: 0 12px;
      }

      &-text {
        @include h4(2rem);
        margin-top: 3rem;
        color: $color-dark-l;
        text-align: center;
      }
    }
  }

  /*-------------------Donation_Section---------------------*/

  .donation {
    display: flex;
    padding: 8.2rem 0 10rem;
    background-color: $color-light-l;

    .wrapper {
      flex: none;
    }

    &__content {
      display: flex;
      justify-content: center;
      margin-left: 1.5rem;
    }

    &__image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__information {
      max-width: 38rem;
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;

      &-title {
        @include h3(3.5rem);
        color: $color-dark-l;

        span {
          display: block;
        }
      }

      &-subtitle {
        margin-top: 2rem;
        @include h5(1.5rem);
        color: $color-dark-l;
      }

      &-card {
        @include button_primary();
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        display: flex;
        margin-top: 2rem;
        width: 35rem;
        height: 4.3rem;

        img {
          margin-right: 1.5rem;
        }

        a {
          @include h4(2rem);
        }
      }

      &-text {
        @include paragraph-s();
        color: $color-dark-m;
        margin-top: 2rem;
      }
    }
  }
}

@include footer;
@include pop-up;

/*-------------------Animations---------------------*/

@keyframes modalWindowAnimation {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  25% {
    opacity: .5;
    transform: scale(.5);
  }

  60% {
    opacity: 1;
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*-------------------Adaptive---------------------*/

@media screen and (max-width: 768px) {

  .wrapper {
    max-width: 70.8rem;
  }

  .header {
    top: 3rem;

    .logo {
      margin-left: 0.2rem;
    }

    .menu {
      width: 44.3rem;
    }
  }

  .main {

    /*-------------------Hero_Section---------------------*/

    .hero {
      padding-top: 15rem;

      &__content {
        flex-direction: column;
        align-items: center;

        .content-section {
          max-width: 47.6rem;

          .button__wrapper {
            display: flex;
            justify-content: center;
          }
        }
      }

      &__image-wrapper {
        padding-top: 30px;
        padding-left: 138px;
      }

      &__image {
        max-width: 56.9rem;
        max-height: 59.3rem;
      }
    }

    /*-------------------About_Section---------------------*/

    .about {
      &__wrapper {
        flex-direction: column-reverse;
        padding: 7.1rem 3.35rem 10rem;
      }

      &__image-wrapper {
        margin-top: 79px;
        margin-left: 64px;

        .about__image {
          width: 300px;
          height: 408px;
        }
      }
    }

    /*-------------------Pets_Section---------------------*/

    .pets {
      &__title {
        margin-left: 0.8rem;
      }

      &__slider {
        width: 620px;
      }

      &__card {
        margin: 0 2rem;
      }

      .slider__button {
        left: 30px;
      }

      .slider__button_reverted {
        right: 30px;
      }

      &__button {
        margin-left: 0;
      }
    }

    /*-------------------Help_Section---------------------*/

    .help {
      &__title {
        margin-left: 0;
      }

      &__list {
        margin: 0 10px;
        align-items: center;

        &-item {
          width: 33.3333%;
          margin-top: 57px;
        }
      }
    }

    /*-------------------Donation_Section---------------------*/

    .donation {
      &__content {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 30px 0 0;
      }

      &__image-wrapper {
        margin-top: 60px;
      }
    }
  }

  @include footer__adaptive_768;
  @include pop-up__adaptive_768;
}

@media screen and (max-width: 767px) {
  @include burger_menu($color-primary-color, $color-dark-3xl);
}

@media screen and (max-width: 320px) {

  .wrapper {
    max-width: 30rem;
  }

  .header {
    .logo {
      &__title {
        z-index: 2;
      }

      &__subtitle {
        z-index: 2;
      }
    }

    .list {
      margin-top: 30px;
    }
  }

  .main {

    /*-------------------Hero_Section---------------------*/

    .hero {
      &__content {
        .content-section {
          &__title {
            @include h2(2.5rem);
            text-align: center;
            padding: 0 40px;
          }
        }
      }

      &__image-wrapper {
        padding: 0;
      }
    }

    /*-------------------About_Section---------------------*/

    .about {
      &__title {
        @include h3(2.5rem);
        text-align: center;
      }

      &__image-wrapper {
        margin-top: 40px;
        margin-left: 0;

        .about__image {
          width: 220px;
          height: 300px;
        }
      }
    }

    /*-------------------Pets_Section---------------------*/

    .pets {
      &__title {
        @include h3(2.5rem);
      }

      .slider__button,
      .slider__button_reverted {
        bottom: -70px;
        top: unset;
      }

      .slider__button {
        left: 60px;
      }

      .slider__button_reverted {
        right: 60px;
      }

      &__slider {
        width: 310px;
      }

      &__button {
        margin-top: 50px;
      }
    }

    /*-------------------Help_Section---------------------*/

    .help {
      &__title {
        @include h3(2.5rem);
      }

      &__list {
        align-items: unset;

        &-item {
          width: 50%;
          margin-top: 50px;
        }

        &-text {
          @include h4(1.5rem);
        }
      }
    }

    /*-------------------Donation_Section---------------------*/

    .donation {
      &__information {
        max-width: unset;
        margin-left: unset;
        align-items: center;

        &-title {
          @include h3(2.5rem);
          text-align: center;
        }

        &-subtitle {
          @include h5(1.5rem);
        }

        &-card > a {
          @include h4(1.5rem);
        }

        &-card {
          width: 290px;
          height: unset;
        }
      }

      &__image {
        width: 260px;
      }
    }
  }

  @include footer__adaptive_320;
  @include pop-up__adaptive_320;
}
