.pet-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 128rem;
  justify-content: space-between;
  flex: 1;
}

.pets-header {
  display: flex;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  position: sticky;
  min-height: 12rem;
  background-color: #FFFFFF;
  z-index: 2;
}
.pets-header .logo {
  display: flex;
  flex-direction: column;
  margin-left: 0.8rem;
}
.pets-header .logo__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.2rem;
}
.pets-header .logo__subtitle {
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  letter-spacing: 0.13rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
.pets-header .menu {
  display: flex;
  width: 43.4rem;
}
.pets-header .menu .list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.pets-header .menu .list__item {
  display: flex;
  align-items: center;
}
.pets-header .menu .list__link {
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
}
.pets-header .menu .list__link_active {
  border-bottom: solid 0.3rem #F1CDB3;
  color: #292929;
}
.pets-header .menu .list__link_disabled {
  color: #545454;
}

.pets {
  background-color: #F6F6F6;
  padding: 8rem 0 10rem;
}
.pets__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.pets__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  max-width: 40rem;
  text-align: center;
  margin-left: 1.8rem;
}
.pets__title span {
  display: block;
}
.pets__content {
  display: flex;
  align-items: center;
  height: 930px;
  overflow: hidden;
}
.pets__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 0.8rem;
}
.pets__card {
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  margin: 0 2rem 3rem;
  background-color: #FAFAFA;
  transition: ease-out 0.2s;
}
.pets__card:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
}
.pets__card-image {
  width: 100%;
}
.pets__card-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  align-items: center;
}
.pets__card-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-align: center;
  margin: 3rem 0;
}
.pets__card-button {
  border: 0.2rem solid #F1CDB3;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  line-height: 130%;
  font-family: Georgia;
  letter-spacing: 0.1rem;
  color: #292929;
  transition: ease-out 0.2s;
}
.pets__card-button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
.pets__pagination-button {
  position: relative;
  margin: 0 1rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  width: 5.2rem;
  height: 5.2rem;
  border: 0.3rem solid #F1CDB3;
  border-radius: 100%;
  transition: ease-out 0.2s;
}
.pets__pagination-button_disabled {
  border: 0.3rem solid #CDCDCD;
}
.pets__pagination-button_disabled:hover {
  background-color: transparent;
}
.pets__pagination-button_active {
  background-color: #F1CDB3;
}

.footer {
  padding: 4rem 0 0 1.1rem;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}
.footer__contacts-title span {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  display: block;
  color: #FFFFFF;
}
.footer__contacts-mail, .footer__contacts-phone, .footer__contacts-location {
  display: flex;
  align-items: center;
}
.footer__contacts-mail img, .footer__contacts-phone img, .footer__contacts-location img {
  margin-right: 2rem;
}
.footer__contacts-mail a, .footer__contacts-phone a, .footer__contacts-location a {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #F1CDB3;
}
.footer__contacts-mail a span, .footer__contacts-phone a span, .footer__contacts-location a span {
  display: block;
}
.footer__contacts-mail, .footer__contacts-phone {
  margin-top: 4.3rem;
}
.footer__contacts-location {
  margin-top: 3.4rem;
}

.popup {
  display: none;
  width: 100%;
  height: 2000px;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0;
}
.popup__content {
  position: relative;
  display: flex;
  margin: 40px auto 0px auto;
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  border-radius: 10px;
}
.popup__close {
  width: 5.2rem;
  height: 5.2rem;
  border: 0.3rem solid #F1CDB3;
  border-radius: 100%;
  transition: ease-out 0.2s;
  position: absolute;
  right: -48px;
  top: -39px;
}
.popup__close::before {
  content: url("../../assets/icons/Vector.svg");
  position: absolute;
  top: 38%;
  right: 36%;
}
.popup__close:hover {
  background-color: #F1CDB3;
}
.popup__img {
  width: 500px;
  height: 500px;
}
.popup__img img {
  width: 100%;
}
.popup__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 30px;
}
.popup__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  margin-bottom: 10px;
}
.popup__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  margin-bottom: 43px;
}
.popup__paragraph {
  width: 350px;
}
.popup__paragraph h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
}
.popup__info {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.popup__info:nth-of-type(1) {
  margin-top: 40px;
}
.popup__info li {
  margin-top: 10px;
}

/*# sourceMappingURL=pets.css.map */
