@import "../../assets/abstracts/mixins";
@import "../../assets/abstracts/variables";
@import "../../assets/styles/footer";
@import "../../assets/styles/pop-up";
@import "../../assets/styles/logo";
@import "../../assets/styles/header-nav";

.pet-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 128rem;
  justify-content: space-between;
  flex: 1;
}

.pet-header {
  display: flex;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  position: sticky;
  min-height: 12rem;
  background-color: $color-light-xl;
  z-index: 2;

  @include logo($color-dark-l, $color-dark-3xl);
  @include header-nav($color-dark-3xl, $color-dark-l);
}

.pets {
  background-color: $color-light-l;
  padding: 8rem 0 10rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__title {
    @include h3(3.5rem);
    color: $color-dark-l;
    max-width: 40rem;
    text-align: center;
    margin-left: 1.8rem;

    span {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin: 50px 10px;
  }

  &__slider {
    overflow: hidden;
    height: 930px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 0.9rem;
    margin: 1.3rem 2rem;
    background-color: $color-light-s;
    transition: ease-out 0.2s;

    &:hover {
      background-color: $color-light-xl;
      box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
    }

    &-image {
      width: 100%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding-bottom: 3rem;
      align-items: center;
    }

    &-title {
      @include h4(2rem);
      text-align: center;
      margin: 3rem 0;
    }

    &-button {
      @include button_secondary();
    }
  }

  &__pagination {
    &-button {
      position: relative;
      margin: 0 1rem;
      @include h4(2rem);
      @include pagination_button;

      &:hover {
        background-color: $color-primary-color;
      }

      &_disabled:disabled {
        border: 0.3rem solid $color-dark-s;
        background-color: transparent;
      }

      &_active {
        background-color: $color-primary-color;
      }
    }
  }
}

@include footer;
@include pop-up;

@media screen and (max-width: 767px) {
  .pet-header {
    &__burger {
      display: flex;
      position: relative;
      width: 30px;
      height: 20px;
      right: 10px;
      top: 10px;
      z-index: 4;
      transition: .2s ease-in-out;

      & > span,
      &::before,
      &::after {
        position: absolute;
        background-color: $color-dark-l;
        width: 100%;
        height: 2px;
      }

      & > span {
        left: 0;
        top: 9px;
      }

      &::before,
      &::after {
        content: '';
        left: 0;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    &__burger_active {
      transform: rotate(90deg);
    }

    & .menu {
      position: absolute;
      width: 320px;
      justify-content: center;
      right: 0;
      visibility: hidden;
      z-index: 3;
      background-color: $color-light-xl;

      & .list {
        flex-direction: column;
        align-items: center;

        &__item {
          margin-bottom: 30px;
        }
      }
    }

    & .menu_active {
      visibility: visible;
    }
  }
}


@media screen and (max-width: 320px) {
  .pets {
    &__pagination {
      &-button {
        margin: 0;
      }
    }

    &__content {
      margin: 20px 10px;
    }

    &__slider {
      height: 897px;
    }

    &__card {
      margin: 1rem 2rem;
    }

    &__card:first-child {
      margin-top: 0;
    }
  }
}
