@import "../abstracts/mixins";
@import "../abstracts/variables";

@mixin header-nav($active-color, $disabled-color) {
  .menu {
    display: flex;
    width: 43.4rem;

    .list {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &__item {
        display: flex;
        align-items: center;
      }

      &__link {
        color: $color-light-xl;
        @include paragraph-l();

        &_active {
          border-bottom: solid 0.3rem #F1CDB3;
          color: $active-color;
        }

        &_disabled {
          color: $disabled-color;
        }
      }
    }
  }
}
