@import "variables";

@mixin h2($size) {
  font: {
    family: Georgia;
    size: $size;
    weight: 400;
  }
  line-height: 130%;
}

@mixin h3($size) {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: $size;
  }
  line-height: 130%;
  letter-spacing: 0.21rem;
}

@mixin h4($size) {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: $size;
  }
  color: $color-dark-l;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

@mixin h5($size) {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: $size;
  }
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 1.5rem;
  }
  line-height: 160%;
}

@mixin paragraph-s {
  font: {
    family: Arial;
    style: italic;
    weight: normal;
    size: 1.2rem;
  }
  line-height: 150%;
}

@mixin logo_title {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 3.2rem;
  }
  line-height: 110%;
  letter-spacing: 0.2rem;
}

@mixin logo_subtitle {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 1.3rem;
  }
  letter-spacing: 0.13rem;
  line-height: 1.5rem;
}

@mixin slider__button {
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  border: 0.3rem solid $color-primary-color;
  border-radius: 100%;
  transition: ease-out 0.2s;

  &::before {
    content: url('../../assets/icons/pets/arrow.svg');
    position: absolute;
    width: 1.4rem;
    height: 0.6rem;
    bottom: calc(50% + 0.3rem);
    left: calc(50% - 0.7rem);
  }
  &:hover {
    background-color: $color-primary-color;
  }
}

@mixin button {
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  line-height: 130%;
  font-family: Georgia;
  letter-spacing: 0.1rem;
  color: $color-dark-3xl;
  transition: ease-out 0.2s;
}

@mixin button_primary {
  background-color: $color-primary-color;
  @include button;
  &:hover {
    background-color: $color-primary-light;
  }
}

@mixin button_secondary {
  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
  border: 0.2rem solid $color-primary-color;
  @include button;
}

@mixin pagination_button {
  width: 5.2rem;
  height: 5.2rem;
  border: 0.3rem solid $color-primary-color;
  border-radius: 100%;
  transition: ease-out 0.2s;
}
